<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Upload Media</title>
    <script>
        function previewMedia(event) {
            const file = event.target.files[0];
            const preview = document.getElementById('mediaPreview');
            if (file) {
                const url = URL.createObjectURL(file);
                if (file.type.startsWith('image/')) {
                    preview.innerHTML = `<img src="${url}" alt="Image Preview" class="media-preview">`;
                } else if (file.type.startsWith('video/')) {
                    preview.innerHTML = `<video controls class="media-preview">
                                            <source src="${url}" type="${file.type}">
                                            Your browser does not support the video tag.
                                         </video>`;
                }
            }
        }
    </script>
</head>
<body>
    <h1>Upload Media</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="model">Select Model:</label>
        <select name="model" id="model" class="button" required>
            <option value="affecnet7_epoch37_acc0.6557.pth">AffectNet7</option>
            <option value="rafdb_epoch40_acc0.9071_bacc0.8534.pth">RAF-DB</option>
            <option value="ferPlus_epoch80_acc0.8689_bacc0.726.pth">FER+</option>
            <option value="combined_epoch31_acc0.7922.pth">Combined</option>
        </select>
        <br><br>
        <label for="file-upload" class="button">Choose File</label>
        <input id="file-upload" type="file" name="file" accept="image/*,video/*" style="display: none;" onchange="previewMedia(event)" required>
        <br><br>
        <input type="submit" value="Submit Media" class="button">
    </form>
    <div id="mediaPreview"></div>
</body>
</html>
